<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Animator" version="1.0.3" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.31.1" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.3.8" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.3.8" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.8" targetFramework="net48" />
  <package id="log4net" version="3.1.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="9.0.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.2" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.2" targetFramework="net48" developmentDependency="true" />
  <package id="MySql.Data" version="9.4.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="SwfDotNet.IO" version="1.0.0.1" targetFramework="net462" />
  <package id="Syncfusion.Core.WinForms" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.DataSource.WinForms" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.SfListView.WinForms" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.Shared.Base" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.Shared.Windows" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.Tools.Base" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.Tools.Windows" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.GridCommon.WinForms" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.Grid.Base" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.Grid.Windows" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.SpellChecker.Base" version="19.4.0.38" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="19.4.0.38" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.8" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.8" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="9.0.8" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.8" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.8" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.8" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.8.6" targetFramework="net48" />
</packages>
